@import url('https://fonts.googleapis.com/css2?family=Phudu&display=swap');
@import url("https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css");
@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;500;600&display=swap");

body {
  margin: 0;
  font-family:'Phudu';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  color: #FFFFFF;
}

code {
  font-family:system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif
}

/*----------Meme Page----------*/

header{
  padding: 35px;
  text-align: center;
  background-color: black;
  color: white;
}
.signin{
  text-align: right;
  cursor: pointer;
}
.signin:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn {
  display: block;
  width: 75%;
  background-color: black;
  color: white;
  padding: 14px 28px;
  font-size: 18px;
  cursor: pointer;
  text-align: center;
}
.btn:hover{
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}
.btn:active{
  box-shadow: none;
  transform: translateY(0)
}
.button-div{
  display: grid;
  place-items: center;
  font-family: 'Phudu';
  margin: 0;
}

.Random-img{
  max-width: 100%;
  max-height: 100%;
  padding-bottom: 50px;
}
.Meme {
  display: grid;
  place-items: center;
  font-family: 'Phudu';
  margin: 0;
  margin-top: 10px;
  padding: 0;
}

.d-btn{
  display: inline-flex;
  gap: 55px;
  padding-top: 20px;
  padding-bottom: 100px;
}

.btn-3 {
  appearance: none;
  background-color: #000000;
  border: 2px solid #1A1A1A;
  border-radius: 15px;
  box-sizing: border-box;
  color: #FFFFFF;
  cursor: pointer;
  
  font-family: "Phudu";
  font-size: 16px;
  line-height: normal;
  margin: 0;
  min-height: 60px;
  min-width: 0;
  outline: none;
  padding: 17px 80px;
  text-align: center;
  text-decoration: none;
  transition: all 300ms cubic-bezier(.23, 1, 0.32, 1);
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  width: 100%;
  will-change: transform;
}

.btn-3:disabled {
  pointer-events: none;
}

.btn-3:hover {
  box-shadow: rgba(0, 0, 0, 0.25) 0 8px 15px;
  transform: translateY(-2px);
}

.btn-3:active {
  box-shadow: none;
  transform: translateY(0);
}


/*------------------------Sign up Page ---------------*/

body {
  background-color: #080710;
}
.background {
  width: 450px;
  height: 520px;
  position: absolute;
  transform: translate(-50%,-50%);
  left: 50%;
  top: 50%;
}

form.Sign-in{
  color: #FFFFFF;
  height: 520px;
  width: 400px;
  background-color: rgba(255,255,255,0.13);
  position: absolute;
  transform: translate(-50%,-50%);
  top: 50%;
  left: 50%;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  border: 2px solid rgba(255,255,255,0.1);
  box-shadow: 0 0 40px rgba(8,7,16,0.6);
  padding: 50px 35px;
}
form *{
  font-family: 'Poppins',sans-serif;
  color: #ffffff;
  letter-spacing: 0.5px;
  outline: none;
  border: none;
}
form h3{
  font-size: 32px;
  font-weight: 500;
  line-height: 42px;
  text-align: center;
}
label{
  display: block;
  margin-top: 30px;
  font-size: 16px;
  font-weight: 500;
}
input{
  display: block;
  height: 50px;
  width: 100%;
  background-color: rgba(255,255,255,0.07);
  border-radius: 3px;
  padding: 0 10px;
  margin-top: 8px;
  font-size: 14px;
  font-weight: 300;
}
::placeholder{
  color: #e5e5e5;
}
button.submit {
  margin-top: 50px;
  width: 100%;
  background-color: #ffffff;
  color: #080710;
  padding: 15px 0;
  font-size: 18px;
  font-weight: 600;
  border-radius: 5px;
  cursor: pointer;
}
.social{
  margin-top: 30px;
  display: flex;
  padding-bottom: 25px;
}
.social div{
  background: red;
  width: 450px;
  border-radius: 3px;
  padding: 5px 10px 10px 5px;
  background-color: rgba(255,255,255,0.27);
  color: #eaf0fb;
  text-align: center;
}
.social i{
  margin-right: 4px;
}
.link {
  display: grid;
  place-items: center;
  text-decoration: none;
}
p {
 font-size: smaller;
 margin: 0; 

}
p:hover{
  cursor: pointer;
}